/******************管理员面板公共样式start*************************/

html,
body{
	font-family: "微软雅黑";
}
.page{
    background-color: #e6e7e8;
}
h4, .h4, h5, .h5, h6, .h6 {
    margin-bottom: 0;
    margin-top: 0;
}
.margin-top-0{
    margin-top: 5px;
}
.margin-top-5{
    margin-top:5px;
}
.margin-bottom-5{
    margin-bottom: 5px;
}
.margin-bottom-10{
    margin-bottom: 10px;
}
.margin-bottom-15{
    margin-bottom: 15px;
}
.margin-bottom-20{
    margin-bottom: 20px;
}
.margin-bottom-30{
    margin-bottom: 30px;
}
.margin-top-15{
    margin-top: 15px;
}
.margin-top-20{
    margin-top: 20px;
}
.margin-top-25{
    margin-top: 25px;
}
.margin-top-30{
    margin-top: 30px;
}
.margin-left-10{
    margin-left: 10px;
}
.margin-left-15{
    margin-left: 15px;
}
.margin-left-20{
    margin-left: 20px;
}
.padding-top-15{
    padding-top: 15px;
}
.padding-top-6{
    padding-top: 6px;
}
.padding-bottom-6{
    padding-bottom: 6px;
}
.padding-bottom-15{
    padding-bottom: 15px;
}
.padding-left-160{
    padding-left: 160px;
}
.no-paddding-left{
    padding-left: 0;
}
.no-padding-right{
    padding-right: 0;
}
.height-18{
    height: 18px;
}
form .requires{
    color: #ff0000;
    margin-right: 2px;
}
/******************管理员面板公共样式end*************************/


/*****************管理员面板头部样式start**************************/
.header-menu{
    display: none;
}
.admin-nav.navbar{
	min-height: 40px;
	background-color: #436E90; 
    border-color: #191a1d;
    margin-bottom: 0;
}
/*.admin-nav.navbar a{
    padding: 0 15px;
}*/
.logo-text{
	font-size: 20px;
	font-weight: bold;
	line-height: 40px;
	height: 40px;
    color: #F0F0F0;
    width: 190px;
    font-family: "Righteous";
    text-align: center;
}
.logo-text i {
    margin: 0 10px;
}
.logo-text:hover,
.logo-text:focus{
	text-decoration: none;
    color:#F0F0F0;
}
.hello{
	height: 40px;
	line-height: 40px;
    padding-right: 15px;
}
/*.admin-nav.navbar .left-toggle{
	display: inline-block;
	width: 40px;
	height: 40px;
	line-height: 40px;
    color: #dedede;
}*/
.navbar-default .navbar-nav > li > a {
     color: #F0F0F0; 
}
.admin-nav.navbar .menu-list:link {
	color: #f0f0f0;
}	/* 未访问的链接 */
.admin-nav.navbar .menu-list:visited {
	color: #fff;
}	/* 已访问的链接 */
.admin-nav.navbar .menu-list:hover {
	color: #fff;
}	/* 鼠标移动到链接上 */
.admin-nav.navbar .menu-list:active {
	color: #fff;
}
/*.admin-nav.navbar .navbar-nav > li.active{
	background-color: #000;
}*/
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
    /*background-color: #000;*/
}
.admin-nav.navbar .menu-list{
	line-height: 40px;
	height: 40px;
	padding: 0 15px;
	display: block;
    margin-right: 10px;
}
.navbar-nav > li > .dropdown-menu {
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.admin-nav .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    /*display: block; */
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 0;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}
.admin-nav .dropdown-menu.arrow:before {
    position: absolute;
    top: -8px;
    left: 10px;
    display: inline-block;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
    border-left: 10px solid transparent;
    content: '';
}
.admin-nav .dropdown-menu a{
	padding: 5px 20px;
}

/*****************管理员面板头部样式end**************************/

/*******************************siderbar start*********************/

.sidebar li > a ,.sidebar > li > a:hover,.sub-menu > li > a ,.sub-menu > li > a:hover
{
    display: block;
    height: 38px;
    width:230px;
    line-height: 15px;
}
.sidebar li > a ,.sidebar > li > a:hover
{
    line-height: 15px;
}
.sub-menu li > a ,.sub-menu > li > a:hover 
{
    line-height: 28px;
}
.sidebar{
    width: 230px;
    min-height: 600px;
    background-color: #436E90;
    /*border-right: 1px solid #436E90;*/
}
.sidebar > li.active > a:after {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 9px 9px 9px 0;
    border-color: transparent #f7f8fa transparent transparent;
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -9px;
    right: 0px;
}
.sidebar li > a {
    position: relative;
}
.sidebar > li > a{
    color: #F0F0F0;
    display: block;
    padding: 10px;
    position: relative;
    text-decoration: none;
}
.sidebar > li.active > a ,.sidebar > li > a:hover{
    background-color: rgba(0, 0, 0, 0.3);
    color: #F0F0F0;
    width: 230px;
}
.sidebar.nav-pills > li > a {
    border-radius: 0 !important;
    cursor: pointer;
}
.sidebar.nav-pills > li.active > a,
.sidebar.nav-pills > li.active > a:hover,
.sidebar.nav-pills > li.active > a:focus,
.sub-menu li.active a:focus {
    background-color: rgba(0, 0, 0, 0.3);
    color: #F0F0F0;
}
.sidebar.nav-stacked > li + li {
    margin-top: 0; 
    margin-left: 0;
}
.sidebar > li ul li a{
    padding: 5px 10px 5px 40px;
    display: block;
    text-decoration: none;
    color: #f0f0f0;
}
.sidebar > li ul li a:hover{
    background-color: rgba(0, 0, 0, 0.3);
    color: #F0F0F0;
}
.sidebar > li.active > a .fa.fa-angle-right{
    transform: rotate(90deg);
    transition: transform 0.15s ease-in 0s;
    position: absolute;
    right: 20px;
    top: 12px;
}
.sidebar > li li.active{
    background-color: rgba(0, 0, 0, 0.2);
}
hr {
    margin-top: 10px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #d2d3d6;
}
/*.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: #304F67;
    border-radius: 0 !important;
    color: #fff;
    height: 38px;
}*/
#sidebar .angle {
    display: block;
    height: 15px;
    width: 7px;
    overflow: hidden;
    transition: transform 0.1s ease-in 0s;
    margin-right: 5px;
}
#sidebar li.open > a > .angle{
    color: #4b4746;
    transform:rotate(90deg);
    transition: transform 0.1s ease-in 0s;
}
/*#sidebar ul li.active:not(.open) > a {
    font-weight: 600;
    color: #fff;
    background-color: gray;
}*/
/*******************************siderbar end*********************/

/*******************************holder start*********************/
.holder{
    font-size: 12px;
	margin-left: 230px;
    background-color: #f7f8fa;
    padding-top: 20px;
    padding-bottom: 30px;
}
.container {
    width: 100%;
}
.breadcrumb {
    padding: 8px 0;
    margin-bottom: 20px;
    list-style: none;
    background-color: transparent;
    border-radius: 4px;
}
.breadcrumb + h2{
    font-size: 22px;
    padding-left: 0;
    margin-bottom: 20px;
}
.checkbox label, .radio label {
    min-height: 20px;
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: 400;
    cursor: pointer;
    margin-right: 15px;
}
input[type="radio"], input[type="checkbox"] {
    margin: 2px 0 0;
    margin-top: 1px \9;
    line-height: normal;
    cursor: pointer;
}
.btn-default {
    background-color: #fff;
    color: #333;
    border-radius: 0;
    background-color: #e6e7e8;
    border: 0;
    font-size: 12px;
}
.btn-default:hover{
    background-color: #d1d3d4;
    border: 0;
}
a.label-info{
    padding: 3px 8px;
    background-color: #2bbce0;
    color: #fff;
}
a.label-info:hover{
    cursor: pointer;
    background-color: #00CCFF;
    text-decoration: none;
}

/*******************************holder end*********************/


/*******************************footer start*********************/
.footer{
	border-top: 1px solid #d2d3d6;
    background: #edeef0;
    margin-left: 230px;
    height: 30px;
    margin-top: -30px;
    overflow: hidden;
    padding: 5px 15px;
    font-size: 12px;
}
/*******************************footer end*********************/

@media (min-width: 640px) and (max-width: 767px){
    .header-menu + ul,
    .header-menu + ul + ul{
        display: none;
    }
    .menu-list-logo{
        float: none !important;
    }
    .header-menu{
        display: block;
        color: #dedede;
        height: 40px;
        line-height: 40px;
    }
    .header-menu:hover,
    .header-menu:focus{
        color: #fff;
        text-decoration: none;
    }
    .sidebar{
        display: none;
    }
    .holder{
        margin-left: 0;
    }
}
@media (max-width: 640px){
    .header-menu + ul,
    .header-menu + ul + ul{
        display: none;
    }
    .menu-list-logo{
        float: none !important;
    }
    .header-menu{
        display: block;
        color: #dedede;
        height: 40px;
        line-height: 40px;
    }
    .header-menu:hover,
    .header-menu:focus{
        color: #fff;
        text-decoration: none;
    }
}

/*******************************form extends start*********************/
form .help-inline{
    /*display: inline-block;*/
    height: 30px;
    line-height: 30px;
}
/*******************************form extends end*********************/

