<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.houseyoung.student.mapper.DepartmentMapper">
    <select id="listDepartment" resultType="DepartmentDto">
        SELECT
        t_department.id AS id,
        t_school.id AS schoolId,
        t_department.department_name AS departmentName,
        t_school.school_name AS schoolName
        FROM t_department
        LEFT JOIN t_school ON t_department.school_id=t_school.id
        <where>
            <if test="keywords!=null and keywords!=''">
                t_department.department_name LIKE "%"#{keywords}"%"
            </if>
        </where>
        ORDER BY id
    </select>
    <insert id="insert">
        INSERT INTO t_department (department_name, school_id)
        VALUES (#{departmentDto.departmentName},
        (SELECT id FROM t_school WHERE school_name = #{departmentDto.schoolName}))
    </insert>

    <select id="queryById" resultType="DepartmentDto">
        SELECT
        t_department.id AS id,
        t_school.id AS schoolId,
        t_department.department_name AS departmentName,
        t_school.school_name AS schoolName
        FROM t_department
        LEFT JOIN t_school ON t_department.school_id=t_school.id
        WHERE t_department.id = #{id}
    </select>

    <update id="update">
        UPDATE t_department
        SET department_name = #{departmentDto.departmentName},
            school_id = (SELECT id FROM t_school WHERE school_name = #{departmentDto.schoolName})
        WHERE id = #{departmentDto.id}
    </update>

    <delete id="delete">
        DELETE FROM t_department WHERE id = #{id}
    </delete>
</mapper>