<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.houseyoung.student.mapper.StudentMapper">
    <select id="listStudent" resultType="StudentDto">
        SELECT
        t_student.id AS id,
        t_student.student_id AS studentId,
        t_student.student_name AS studentName,
        t_student.sex AS sex,
		t_class.class_name AS classesName,
		t_department.department_name AS departmentName,
		t_school.school_name AS schoolName,
		t_student.birthday AS birthday,
		t_student.hometown AS hometown,
		t_student.interest AS interest
        FROM t_student
        LEFT JOIN t_class ON t_student.class_id = t_class.id
        LEFT JOIN t_department ON t_class.department_id = t_department.id
        LEFT JOIN t_school ON t_department.school_id = t_school.id
        WHERE 1 = 1
        <if test="keywords!=null and keywords!=''">
            AND t_student.student_name LIKE "%"#{keywords}"%"
        </if>
        <if test="classId!=null and classId!=''">
            AND t_class.id = #{classId}
        </if>
        ORDER BY id
    </select>

    <select id="queryById" resultType="StudentDto">
        SELECT
        t_student.id AS id,
        t_student.student_id AS studentId,
        t_student.student_name AS studentName,
        t_student.sex AS sex,
        t_class.class_name AS classesName,
        t_department.department_name AS departmentName,
        t_school.school_name AS schoolName,
        t_student.birthday AS birthday,
        t_student.hometown AS hometown,
        t_student.interest AS interest
        FROM t_student
        LEFT JOIN t_class ON t_student.class_id = t_class.id
        LEFT JOIN t_department ON t_class.department_id = t_department.id
        LEFT JOIN t_school ON t_department.school_id = t_school.id
        WHERE t_student.id = #{id}
    </select>

    <!--TODO: 三个SELECT嵌套，影响效率，后期应修改-->
    <insert id="insert">
        INSERT INTO t_student (student_id, password, student_name, sex, class_id, birthday, hometown, interest)
        VALUES (#{studentDto.studentId},
        #{studentDto.password},
        #{studentDto.studentName},
        #{studentDto.sex},
        (SELECT t_class.id FROM t_class
          WHERE class_name = #{studentDto.classesName}
          AND t_class.department_id = (SELECT id FROM t_department
                                        WHERE department_name = #{studentDto.departmentName}
                                        AND t_department.school_id = (SELECT id FROM t_school
                                                                      WHERE school_name = #{studentDto.schoolName}))),
        #{studentDto.birthday},
        #{studentDto.hometown},
        #{studentDto.interest})
    </insert>

    <!--TODO: 三个SELECT嵌套，影响效率，后期应修改-->
    <update id="update">
        UPDATE t_student
        SET student_id = #{studentDto.studentId},
        student_name = #{studentDto.studentName},
        sex = #{studentDto.sex},
        class_id = (SELECT t_class.id FROM t_class
                     WHERE class_name = #{studentDto.classesName}
                     AND t_class.department_id = (SELECT id FROM t_department
                                                  WHERE department_name = #{studentDto.departmentName}
                                                  AND t_department.school_id = (SELECT id FROM t_school
                                                                                WHERE school_name = #{studentDto.schoolName}))),
        birthday = #{studentDto.birthday},
        hometown = #{studentDto.hometown},
        interest = #{studentDto.interest}
        WHERE id = #{studentDto.id}
    </update>

    <delete id="delete">
        DELETE FROM t_student WHERE id = #{id}
    </delete>

    <select id="showHimself" resultType="StudentDto">
        SELECT
        t_student.id AS id,
        t_student.student_id AS studentId,
        t_student.student_name AS studentName,
        t_student.sex AS sex,
        t_class.class_name AS classesName,
        t_department.department_name AS departmentName,
        t_school.school_name AS schoolName,
        t_student.birthday AS birthday,
        t_student.hometown AS hometown,
        t_student.interest AS interest
        FROM t_student
        LEFT JOIN t_class ON t_student.class_id = t_class.id
        LEFT JOIN t_department ON t_class.department_id = t_department.id
        LEFT JOIN t_school ON t_department.school_id = t_school.id
        WHERE t_student.student_id = #{studentId}
    </select>

    <!--int类型在返回null时会报错，因而将null转换为0-->
    <select id="checkLogin" resultType="int">
        SELECT IFNULL(MAX(student_id), 0) AS student_id FROM t_student
        WHERE student_id = #{studentId} AND password = #{password}
    </select>

    <update id="editPassword">
        UPDATE t_student
        SET password = #{password}
        WHERE student_id = #{studentDto.studentId}
    </update>

    <update id="editInterest">
        UPDATE t_student
        SET interest = #{interest}
        WHERE student_id = #{studentDto.studentId}
    </update>
</mapper>