<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myframework.mapper.HealthMapper">
    <select id="listHealth" resultType="HealthDto">
        SELECT
        t_health.id AS id,
        t_health.student_id AS studentId,
        t_student.student_name AS studentName,
        t_health.height AS height,
        t_health.weight AS weight,
        t_health.nutrition AS nutrition
        FROM t_health
        LEFT JOIN t_student ON t_health.student_id = t_student.student_id
        WHERE 1 = 1
        <if test="keywords!=null and keywords!=''">
            AND t_student.student_name LIKE "%"#{keywords}"%"
        </if>
        <if test="classId!=null and classId!=''">
            AND t_student.class_id = #{classId}
        </if>
        ORDER BY id
    </select>

    <select id="queryById" resultType="HealthDto">
        SELECT
        t_health.id AS id,
        t_health.student_id AS studentId,
        t_student.student_name AS studentName,
        t_health.height AS height,
        t_health.weight AS weight,
        t_health.nutrition AS nutrition
        FROM t_health
        LEFT JOIN t_student ON t_health.student_id = t_student.student_id
        WHERE t_health.id = #{id}
    </select>

    <insert id="insert">
        INSERT INTO t_health (student_id, height, weight, nutrition)
        VALUES ((SELECT student_id FROM t_student WHERE student_id = #{healthDto.studentId}),
        #{healthDto.height},
        #{healthDto.weight},
        #{healthDto.nutrition})
    </insert>

    <update id="update">
        UPDATE t_health
        SET student_id = (SELECT student_id FROM t_student WHERE student_id = #{healthDto.studentId}),
        height = #{healthDto.height},
        weight = #{healthDto.weight},
        nutrition = #{healthDto.nutrition}
        WHERE id = #{healthDto.id}
    </update>

    <delete id="delete">
        DELETE FROM t_health WHERE id = #{id}
    </delete>

    <select id="listHimself" resultType="HealthDto">
        SELECT
        t_health.id AS id,
        t_health.student_id AS studentId,
        t_student.student_name AS studentName,
        t_health.height AS height,
        t_health.weight AS weight,
        t_health.nutrition AS nutrition
        FROM t_health
        LEFT JOIN t_student ON t_health.student_id = t_student.student_id
        WHERE t_health.student_id = #{studentId}
    </select>
</mapper>