<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myframework.mapper.SchoolMapper">
    <resultMap id="schoolResultMap" type="School">
        <id column="id" property="id"/>
        <result column="school_name" property="name"/>
        <result column="university" property="university"/>
    </resultMap>

    <select id="listSchool" resultMap="schoolResultMap">
        SELECT * FROM t_school
        <if test="keywords!=null and keywords!=''">
            <where>
                school_name LIKE "%"#{keywords}"%"
            </where>
        </if>
        ORDER BY id
    </select>

    <insert id="insert">
        INSERT INTO t_school (id, school_name, university)
        VALUES(#{school.id}, #{school.name}, #{school.university})
    </insert>

    <delete id="delete">
        DELETE FROM t_school WHERE id = #{id}
    </delete>

    <select id="queryById" resultMap="schoolResultMap">
        SELECT * FROM t_school WHERE id = #{id}
    </select>

    <update id="update">
        UPDATE t_school
        SET
        school_name = #{school.name},
        university = #{school.university}
        WHERE id = #{school.id}
    </update>
</mapper>