<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myframework.mapper.ScoreMapper">
    <select id="listScore" resultType="ScoreDto">
        SELECT
        t_score.id AS id,
        t_course.id AS courseId,
        t_student.student_id AS studentId,
        t_course.course_name AS courseName,
        t_student.student_name AS studentName,
        t_score.score AS score
        FROM t_score
        LEFT JOIN t_course ON t_score.course_id = t_course.id
        LEFT JOIN t_student ON t_score.student_id = t_student.student_id
        WHERE 1 = 1
        <if test="studentId!=null and studentId!=''">
            AND t_student.student_id = #{studentId}
        </if>
        <if test="courseName!=null and courseName!=''">
            AND t_course.course_name LIKE "%"#{courseName}"%"
        </if>
        ORDER BY id
    </select>

    <insert id="insert">
        INSERT INTO t_score (course_id, student_id, score)
        VALUES (#{scoreDto.courseId}, #{scoreDto.studentId}, #{scoreDto.score})
    </insert>

    <select id="queryById" resultType="ScoreDto">
        SELECT
        t_score.id AS id,
        t_course.id AS courseId,
        t_student.student_id AS studentId,
        t_course.course_name AS courseName,
        t_student.student_name AS studentName,
        t_score.score AS score
        FROM t_score
        LEFT JOIN t_course ON t_score.course_id = t_course.id
        LEFT JOIN t_student ON t_score.student_id = t_student.student_id
        WHERE t_score.id = #{id}
    </select>

    <update id="update">
        UPDATE t_score
        SET course_id = #{scoreDto.courseId},
            student_id = #{scoreDto.studentId},
            score = #{scoreDto.score}
        WHERE id = #{scoreDto.id}
    </update>

    <delete id="delete">
        DELETE FROM t_score WHERE id = #{id}
    </delete>

    <select id="listHimself" resultType="ScoreDto">
        SELECT
        t_score.id AS id,
        t_course.id AS courseId,
        t_student.student_id AS studentId,
        t_course.course_name AS courseName,
        t_student.student_name AS studentName,
        t_score.score AS score
        FROM t_score
        LEFT JOIN t_course ON t_score.course_id = t_course.id
        LEFT JOIN t_student ON t_score.student_id = t_student.student_id
        WHERE t_score.student_id = #{studentId}
    </select>
</mapper>